/*Resetando configuração padrão do CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #a52a2a;
    color: #a00f2d;
    /*cor principaal do texto */
}

html {
    font-family: Inter sans-serif;
    /*família de texto padrão*/
    font-weight: 500;
    /*Peso padrão*/

}

a {
    color:#f5f5dc;
    text-decoration: none;
    /*Retirar decoração <a>*/
}

a:hover {
    color:black;
    text-decoration: underline;
}

ul {
    list-style: none;
    /*Retirar decoração <li>*/
}

nav {
    max-width: 1120px;
    /*largura máxima*/
    margin: auto;
    padding: 1.5rem 10rem;
    /*Acima/abaixo | Laterais*/

    display: flex;
    flex-direction: row;
    /*isto já o padrão*/
    justify-content: space-between;
    /*Separa os 3 conjuntos de lementos*/
    align-items: center;
    /*alinhar elementos ao centro (horizontal)*/

}



.logo {
    text-align: left;
    color:#f5f5dc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    /*separa os elementos da linha*/
}

/* ------------------Tag main */
main {
    display: flex;
    flex-direction: column;
}

/* *------------------------------------------------------*
   *                     Estilo para HERO                 *
   *------------------------------------------------------*
*/
.hero {

    max-width: 1120px;
    /*lagura máxima*/
    height: 60vh;
    /* altura 60% proporcional à tela (navegador)*/

    display: flex;
    /*organiza parte I e Parte II*/
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem;

    padding: 0rem 2rem;
    margin: auto;

    overflow: clip;

    align-items: center;
}

.hero-parte1-principal {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-parte2-container-imagens {
    max-width: 50%;
    column-count: 4;
    column-gap: 0.5rem;
    margin: -1;
}

.hero-parte2-container-imagens>figure>img {
    width: 400%;
    border-radius: 1rem;
}

.container-hero {
    background:#f5f5dc;
}



h1 {
    font-family: Montserrat;
    font-size: 3.5rem;
    /*56px = 3.5rem*/
    font-weight: 800;
}

hr {
    border-color: #a00f2d;
}

.hero-subtitulo {
    color: #a00f2d;
    font-family: Inter;
    font-size: 1.5rem;
    /* 24px = 1.5rem*/
    font-weight: 400;
}

.receitas {
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding: 3rem 2rem;
    margin: auto;
}

.receita-header-cabecalho {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: top 5px;;
}

.receita-hr{
   border-color: #fff2e7;
}

.destaque-marron{
    color: #fff2e7;

}

.receita-header-titulo-h2 {
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 700;
    color: #fff2e7;
}

.receita-header-subtitulo-p {
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    color: #fff2e7;
}

.receitas-card-container {
    padding: 0rem 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.receitas-card {
    background: #241a1c;
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 29rem;
    border-top:10px ;
}

.receitas-card-cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.receitas-card-cabecalho-parte-I {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-top:10px;
}

.receitas-card-titulo {
    color: #fff2e7;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 700;
}

.receita-card-avaliacao {
    color: #756a67;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}

.receita-card-descricao {
    color: #c7bab3;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.receita-card-autor {
    display: flex;
}
.receita-card-autor > img{
    border-radius: 5rem;
    width: 100%;
    border-radius: 0.5rem;

}
.receita-card-autor{
    color: #c7bab3;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
}
/*-------------------------------*/

/* Estilo para o rodapé */
footer {
    background-color:#f5f5dc; /* Cor de fundo cinza */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento de texto centralizado */
  }
 
  /* Estilo para o texto de direitos autorais */
  .footer-copy {
    font-size: 14px; /* Tamanho da fonte */
    color: #a00f2d; /* Cor do texto */
  }
 
  /* Estilo para o texto de descrição */
  .footer-autor {
    font-size: 12px; /* Tamanho da fonte */
    color: #a00f2d; /* Cor do texto */
  }
 
/*---------------------------------*/
/* Estilo para a seção */
.carregar-mais-receitas {
    background-color: #f9f9f9; /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento de texto centralizado */
  }
 
  /* Estilo para o span dentro da seção */
  .carregar-mais-receitas-span {
    display: inline-block; /* Para que as propriedades de largura e altura funcionem */
    background-color: #3498db; /* Cor de fundo azul */
    color: #fff; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Mostrar o cursor como ponteiro ao passar por cima */
  }
 
  /* Estilo para o título dentro do span */
  .carregar-mais-receitas-span h5 {
    margin: 0; /* Remover margem padrão */
    font-size: 16px; /* Tamanho da fonte */
  }

.carregar-mais-pratos, span{
    color:#f5f5dc;
}

/*-------------------------------*/
.botao-container{
    width: 100%;
    max-width: 1120px;
   

}
button{
    border: none;
    padding: 0.1rem;
    border-radius: 0.1;

}
.marron {
    color: #A45A49
}

.mostarda {
    color: #e7a80e
}
